@{
    ViewBag.Title = "Source Cocktail";
}

<div class="jumbotron">
    <h1>Source Cocktail</h1>
    <p class="lead">Vos Recettes, Vos Ingrédients, Vos Cocktail</p>
    <img src="http://willowpark.net/images/events/cocktail-banner.jpg" />
</div>

<div class="row">

</div>