@{
    ViewBag.Title = "Source Cocktail";
}

<div class="jumbotron">
    <h1>Source Cocktail</h1>
    <p class="lead">Vos Recettes, Vos Ingrédients, Vos Cocktail</p>
    <p><a href="http://example.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">

</div>